:root {
    scroll-behavior: smooth;
    scroll-padding-block: 200px 150px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    --bl: #fcfcfc;
    --bd: #050505;
    --l: oklch(95.213% 0.00011 271.152);
    --d: oklch(24.776% 0.00003 271.152);
    --dg: oklch(59.175% 0.20134 142.511);
    --al: oklch(98.987% 0.01067 204.685);
    --ad: oklch(23.345% 0.04884 233.963);
    --hb: oklch(59.667% 0.22126 258.047);
    --b1: oklch(56.239% 0.24047 264.42);
    --tb: oklch(37.001% 0.1717 262.218);
    --anim: background-color 0.2s ease-in-out 0.1s;
    --anim2: color 0.2s ease-in-out 0.1s;
    --bi: background-image 0.2s ease-in-out 0.1s;
    --uls: opacity 0.2s ease-out,transform 0.2s ease-out,visibility 0.3s ease-out;
    --gra: linear-gradient(to right,oklch(48.177% 0.10593 161.852) 20%,var(--tb) 32%);
    --grad: linear-gradient(to right,var(--hb) 23%,#00a36d 35%);
    --transition-duration: 0.8s;
    --transition-easing: cubic-bezier(0.4,0,0.2,1)
}

* {box-sizing: border-box!important}
.b {font-family: Inter,sans-serif;margin-block:0 12px;margin-inline:auto;max-width: 1500px;min-height: max-content}
.bl {background-color: var(--bl)}
.bd,.bl {transition: var(--anim)}
.bd {background-color: var(--bd)}
.c {max-width: 1000px;position: relative;width: 93%}
.c,.nd {margin-inline:auto}
.nd {-webkit-backdrop-filter: blur(4.5px);backdrop-filter: blur(4.5px);background: #ffffff5d;border: 2px solid #bababa33;border-radius: 16px;font-family: poppins,sans-serif;
  justify-content: space-between;left: 50%;letter-spacing: .1mm;max-width: 1230px;min-height: 60px;position: fixed;top: 14px;transform: translateX(-50%);width: 99%;z-index: 20}
.n,.nd {display: flex}
.n {align-items: center;gap: 28px;height: 57px;margin-inline-start:24px;padding: 0;position: relative}
.pd2 {display: flex}
.pd2:hover {cursor: pointer}
.n a:not(.n>a) {align-content: center;display: flex;font-weight: 600;height: 50px}
.lb {display: flex;align-items: center;font-size: 16px;font-weight: 500;color: var(--d)}
.prp {display: flex;align-self: center;font-size: 16px;font-weight: 500;color: var(--d);}
button:hover {cursor: pointer}
button {align-content: center;background: #ffffff76;border: 1px solid #33333321;border-radius: 6px;box-shadow: -2px 2px 4px #33333399;min-height: 45px;padding: 6px}
#sb-btn {margin-inline:24px 22px;min-height: 43px;padding-block-end:1px}
.sbs:active,a:active,button:active {transform: scale(0.94)}
button:focus-visible {outline: 2px solid var(--b1);outline-offset: 3px;border-radius: 4px;}
a:focus-visible {font-size: 19px;transition: font-size .2s ease-out;outline: 2px solid var(--b1);outline-offset: 3px;border-radius: 4px;}
.prs {fill: var(--b1);margin: 2px 0 0 4px;display: block;}
.prj {color: var(--d);left: -16px;list-style-type: none;opacity: 0;position: absolute;top: 48px;transform: translateY(-10px);visibility: hidden}
.prj,.uls {transition: var(--uls)}
.uls {background: #fff;border: 2px solid #63636333;border-radius: 12px;opacity: 1;padding: 8px;transform: translateY(0);visibility: visible;width: max-content}
.uls,a {font-weight: 600}
a {align-items: center;color: inherit;display: inline-block;font-size: 1rem;letter-spacing: .02rem;text-decoration: none}
.ld {align-items: center;display: flex}
.sbs {fill: var(--d);height: 30px;margin: 0;width: 30px}
.sb {height: 100vh;max-width: max-content;min-width: 60%;opacity: 0;position: fixed;right: 0;top: 20px;transform: translateX(100%);visibility: hidden;z-index: 5}
.sb,.sbb {transition: var(--uls)}
.sbb {-webkit-backdrop-filter: blur(4.5px);backdrop-filter: blur(4.5px);background: none;border: 3px solid #63636333;border-radius: 12px;opacity: 1;transform: translateX(0);visibility: visible}
.sbc {margin-block-start:60px}
.sb li {font-size: 21px;font-weight: 600;padding-block:14px}
.sb ul {margin-block-start:13px;padding-inline:32px 16px}
.gd {margin-block-start:108px}
.hd {margin-block:4px;margin-inline:auto;max-width: 530px}
.sm {display: block;margin-inline-start:16px}
.h1,.sm {text-align: center}
.h1 {-webkit-background-clip: text;background-clip: text;background-image: var(--gra);color: transparent;font-size: clamp(32px,10vw + 1rem,40px);height: max-content;margin: -2px 2px 2px 8px;max-width: 510px}
.ptt {fill: var(--l)}
.aud {-webkit-backdrop-filter: blur(6px);backdrop-filter: blur(6px);background-color: #cecece1a;border: 1px solid #88888883;border-radius: 8px;height: max-content;
    margin: 8px 16px 8px 4px;padding: 6px 8px;width: max-content}
.atd {align-items: center;display: flex}
.pbs {height: 35px;margin: 1.5px 0 0 6px;width: 40px}
.hh {-webkit-background-clip: text;background-clip: text;background-image: var(--gra);color: transparent;font-size: 32px;height: max-content;margin: 0 0 8px 8px;width: max-content}
h3 {color: var(--ad);margin-block:2px 8px}
.h3 {color: var(--l)}
.serv {margin-block:32px 48px}
.ul {display: flex;flex-wrap: wrap;gap: 16px;justify-items: center;list-style: none;margin: 1px auto;padding: 1px}
.li {background-color: var(--tb);border: 1px solid #26262639;border-radius: 16px;box-shadow: -4px 8px 7px #25252570;color: var(--d);flex-grow: 1;min-height: 50px;padding: 12px}
.li:hover {box-shadow: none;transform: translateY(-4px)}
.li>a p {color: #eaeaea;margin: 3px 0 0;padding: 0}
.li>a {min-height: 135px}
.li #tli {min-height: 100px}
.li h3,.li p {letter-spacing: .2mm}
.li1,.li2 {display: none}
p {font-size: 17px;margin: 0}
.pa {color: var(--ad);font-size: 24px;letter-spacing: .4px;line-height: 1.35;margin-inline:auto;max-width: 600px;padding: 12px 8px 24px 8px;text-align: center;width: 95%}
.at {background-color: #f7f7f7;border: 1px solid #f7f7f739;border-radius: 8px;box-shadow: -5px 6px 8px #33333370;margin-block-end:24px;margin-inline:auto;padding: 8px}
.aa {color: var(--b1);font-size: 18px;height: min-content;margin-block-start:2px}
.asvg {fill: var(--ad);height: 22px;margin: 0 0 -5.5px -4px;width: 22px}
article p {color: var(--ad);line-height: 1.3;margin-block-end:4px}
.ftd {border-radius: 6px;margin: 64px auto 40px;max-width: 100%;padding: 1px;text-align: center}
.wh {color: var(--l);transition: var(--anim2)}
audio {border-radius: 8px;min-height: 45px;}
[data-theme=dark] {
    .nd {background-color: #61616152;border: 2px solid hsla(0,0%,68%,.224);transition: var(--anim)}
    .ftd,.lb,.ld,.n a,.prp,.sb li,.sm, .h3, .ad, .atd {color: var(--l);transition: var(--anim2)}
    button {background: #0000002a;border: 1px solid #dedede39;box-shadow: -2px 2px 4px #d1d1d133}
    a:focus-visible, button:focus-visible {outline:2px solid var(--dg);outline-offset: 3px}
    .prs {fill: var(--dg);margin: 2px 0 0 4px}
    .prj {background-color: #191919;border: 2px solid #9e9e9e33;color: var(--l);transition: var(--anim)}
    .uls {transition: var(--uls)}
    .sb {border: 3px solid #90909039}
    .pt,.sbs,.sv {fill: var(--l)}
    .hh,h1 {background-image: var(--grad);transition: var(--bi)}
    .ptt {fill: #000}
    h3 {color: var(--al)}
    .li {background-color: #060;transition: var(--anim)}
    .pa {color: var(--al)}
    .at {background-color: #0f0f0f;border: 1px solid hsla(0,0%,95%,.174);box-shadow: -5px 6px 8px hsla(0,0%,95%,.098);transition: var(--anim)}
    .aa {color: var(--dg)}
    article p {color: var(--al)}
}

@media screen and (max-width: 948px) {.na2 {display:none} .li2 {display: list-item}}
@media screen and (max-width: 618px) {.na1 {display:none} .li1 {display: list-item}}
@media screen and (max-width: 544px) {.h1 {font-size:36px} .na1 {display: none} .hh {font-size: 27px;width: 100%} .ul {display: flex;flex-direction: column} .li {flex: 1} 
 .pbs {height: 30px;width: 34px} .gd {margin-block-start:104px} .pa {font-size: 19px} .aud, #aud {margin-inline: auto;width: max-content;}}
@media screen and (max-width: 321px) {.vi {width:90%} .pbs {height: 30px;width: 34px} .h1{font-size: 32px} .sbs{margin-inline:16px 20px} .n{margin-inline-start:20px}}
@media (prefers-reduced-motion:reduce) {:root {--anim: none;--anim2: none;--uls: none}}
