:root {
  scroll-behavior: smooth;
  scroll-padding-block: 200px 150px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  --bl: hsl(0, 0%, 99%);
  --bd: hsl(0, 0%, 3%);
  --l:hsl(0, 0%, 100%);
  --d: hsl(0, 0%, 1%);
  --dg1: #008212;
  --dg: #00b03c;
  --al: hsl(186, 100%, 99%);
  --ad: hsl(0, 0%, 5%);
  --hb: oklch(59.667% 0.22126 258.047);
  --b1: oklch(56.239% 0.24047 264.42);
  --tb: oklch(37.001% 0.1717 262.218);
  --anim: background-color 0.2s ease-in-out 0.1s;
  --anim2: color 0.2s ease-in-out 0.1s;
  --bi: background-image 0.2s ease-in-out 0.1s;
  --uls: opacity 0.2s ease-out, transform 0.2s ease-out, visibility 0.3s ease-out;
  --gra: linear-gradient(to right, #00880b 30%, var(--tb) 42%);
  --grad: linear-gradient(to right, var(--hb) 20%, #009c41  40%);
  --transition-duration: 0.8s;
  --transition-easing: cubic-bezier(0.4, 0, 0.2, 1);
}

* {box-sizing: border-box !important;}
.b {max-width: 1500px;min-height: max-content;margin-block: 12px;font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;margin-inline: auto;}
.bl {background-color:var(--bl);transition: var(--anim)}
.bd {background-color:var(--bd);transition: var(--anim)}

.c {position: relative;margin-inline: auto;width: 93%;}
.nd {display: flex;-webkit-backdrop-filter: blur(5px);backdrop-filter: blur(5px);
  background: #ffffff50;width: 99%;z-index: 10;border-radius: 16px;margin-inline: auto;font-family: "poppins", sans-serif;justify-content: space-between;
  max-width: 1230px;border: 2px solid #bababa33;letter-spacing: 0.1mm;min-height: 60px;position: fixed;top: 14px;left: 50%;transform: translateX(-50%);}
.n {display: flex;align-items: center;padding: 0px;height: 57px;gap: 28px;margin-inline-start: 24px;position: relative;}
.pd2 {display: flex;}
.n a:not(.n > a) {font-weight: 600;display: flex;height: 50px;align-content: center;}
.prp {font-weight: 500;font-size: 16px;display: flex;align-self: center;color: var(--d);}
button {border: 1px solid #33333321;box-shadow: -2px 2px 4px #33333399;background: #ffffff76;border-radius: 6px;padding: 6px;min-height: 45px;align-content: center;letter-spacing: 0.6px;}
.pd2:hover, button:hover, .copy:hover, select:hover, #ema:hover {cursor: pointer}
#sb-btn {min-height: 43px;margin-inline: 24px 22px;padding-block-end: 1px;}
.sbs:active, a:active, button:active, select:active {transform: scale(0.94);}
button:focus-visible, select:focus-visible {outline: 2px solid var(--b1);outline-offset: 3px;border-radius: 4px;}
a:focus-visible {font-size: 19px;transition: font-size .2s ease-out;outline: 2px solid var(--b1);outline-offset: 3px;border-radius: 4px;}
.prs {fill: var(--b1);margin: 2px 0px 0px 4px;}
.prj {visibility: hidden;opacity: 0;transform: translateY(-10px);color: var(--d);position: absolute;top: 48px;left: -16px;transition: var(--uls);list-style-type: none;}
.uls {visibility: visible;font-weight: 600;opacity: 1;transform: translateY(0);transition: var(--uls);background: #ffffff;border: 2px solid #63636333;border-radius: 12px;padding: 8px;width: max-content;}
a {text-decoration: none;display: inline-block;letter-spacing: 0.02rem;font-size: 1rem;color: inherit;align-items: center;font-weight: 600;}
.ld {display: flex;align-items: center;}
.lb {display: flex;align-items: center;font-size: 16px;font-weight: 500;color: var(--d)}

.sbs {width: 30px;height: 30px;fill: var(--d);margin: 0px;}
.sb {height: 100vh;max-width: max-content;min-width: 60%;opacity: 0;position: fixed;right: 0;top: 20px;transform: translateX(100%);visibility: hidden;z-index: 5}
.sb,.sbb {transition: var(--uls)}
.sbb {visibility: visible;opacity: 1; transform: translateX(0);background-color: #ffffff4f;transition: var(--uls);border-radius: 12px;-webkit-backdrop-filter: blur(8px);backdrop-filter: blur(8px);border: 3px solid #63636333;}
.sbc {margin-block-start:60px}
.sb li {font-size: 21px;font-weight: 600;padding-block:14px}
.sb ul {margin-block-start:13px;padding-inline:32px 16px}
.li1, .li2 {display: none;}
ul {padding-inline-start: 20px;}
.guide ul {padding-inline-start: 30px;}
.ful {background-color: #ffffff;border: 1px solid #f7f7f739;border-radius: 8px;box-shadow: -5px 6px 8px #33333370;padding: 24px 60px;margin-block-end: 24px;}
.ful:hover {transform: translateY(-4px)}
.sb ul {padding-inline: 32px 16px;margin-block-start: 13px;}

.bread {margin: 90px auto 16px auto; width: max-content;position: relative;}
.bread a {font-size: 19px;padding-inline-end: 4px;}
.bsp {font-size: 28px;position: absolute;color:#013ac5;bottom: -3px;}
.ba2 {padding-inline-start: 21px;}
.ca, .ba2 {color: #013ac5;}

h1 {font-size: clamp(32px, 10vw + 1rem, 40px);margin: 0px auto;-webkit-background-clip: text;background-clip: text;height: max-content;
  background-image: var(--gra);color: transparent;max-width: 465px;text-align: center;}
.p1 {text-align: center;}
h2 {height: max-content;width: 98.5%;margin: 48px 0px 16px 4px;color: transparent;-webkit-background-clip: text;background-clip: text;background-image: var(--gra);font-size:32px;text-align: center;}
h2 a {font-size: 32px;}
h3 {margin-block: 0px 6px;}
li {margin-block-start: 2px;}
#md {width: 90%;margin-inline: auto;z-index: -1;}
main {position: relative;}
blockquote {margin: 0;}
.free {color: var(--dg1);font-weight: 500;}
.after {margin: 48px 0px 0px 16px;}
section {margin-inline-start: 16px;}
p, li {margin-block-end: 2px;font-size: 17px;letter-spacing: 0.02rem;}
table {margin-block: 6px 16px;border: 2px solid var(--b1);border-collapse: collapse;border-radius: 8px;}
td {padding: 8px 6px;border: 1px soild var(--d);border: 1px solid black;}
.table {margin-inline: auto;width: max-content;}
.table a, .here{text-decoration: underline;}
.guide {margin-block: 28px 0px;}
.guide ul {margin-block: 4px;}
.guide h3, .guide summary, .ref {margin-inline-start: 10px;}
.guide summary {margin-block-end: 24pxpx;}
.h33 {margin-inline-start: 8px;}
.inst {margin-inline-start: 16px;}
.p2 {margin-block: 32px 16px;padding-inline: 4px;}
.btt {position: relative;}
.copy {width: 55px;background-color: white;display: inline-block;margin: 3px;font-size: 17px;color: var(--d);}
.cp {height: max-content;min-height: 40px;}
.btcwal {width: 398px;min-height: 40px;padding:6px;margin: 2px;display: inline-flex;justify-content: center;border-radius: 8px;font-size: 16px;font-family: monospace;margin-block-start: 7px;}
input {font-size: 17px;}
details {margin-inline-start: 16px;font-size: 18px;margin-block-start: 16px;}
img {display: inline-block;margin-block: 4px;border-radius: 6px;}

#ct {margin: 64px auto 0px auto;max-width: 700px;}
#ct p {max-width: max-content;margin-inline: auto;justify-content: center;text-align: center;}
#ema {width: 176px;min-height: 45px;padding:6px;margin: 1px;display: inline-flex;justify-content: center;border-radius: 8px;font-size: 16px;border: 1px solid #d9d9d9;}

.type {margin-block: 32px;margin-inline: auto;width: 100%;}
.td  {display: flex;justify-content: center;gap: 8px;flex-wrap: wrap;}
.type h3 {margin-inline: auto;width: max-content;margin-block-end: 10px;}
.h3t {font-size: 24px;}
select {height: 55px;padding: 3px;border-radius: 8px;margin-inline: 5px;letter-spacing: 0.5px ;width: 100%;color: var(--d);font-weight: 600;text-transform: uppercase;border: 0.5px solid rgb(99, 99, 99);}
.sel-iii, .et{display: none;}
.s3 {display: initial;}
.btcadd {margin-inline-start: 8px;}

.currency-switch-container {display: flex;align-items: center;gap: 10px;justify-content: center;margin-block:32px 16px;font-weight: bold;color: var(--d);}
.switch {position: relative;display: inline-block;width: 50px;height: 24px;}
.switch input {opacity: 0;width: 0;height: 0;}
.slider {position: absolute;cursor: pointer;top: 0; left: 0; right: 0; bottom: 0;background-color: #ccc;transition: .4s;border-radius: 24px;}
.slider:before {position: absolute;content: "";height: 18px;width: 18px;left: 3px;bottom: 3px;background-color: white;transition: .4s;border-radius: 50%;}
/* When checked (GBP Mode), slide to the right */
input:checked + .slider {background-color: #2ecc71;}
input:checked + .slider:before {transform: translateX(26px);}

.final-cost {background-color: hsl(220, 14%, 96%);padding: 16px;margin-block-start: 32px;border-radius: 24px;border: 1px solid #5d5d5d39;}
.final-cost h2 {margin-block-start: 24px;}
.fin {padding: 6px;}
#fin {display: flex;flex-wrap: wrap;align-items: center;gap: 6px;margin-bottom: 24px;justify-content: center;padding: 0px;}
.costa {text-decoration: underline;color: black;margin-block: 8px 0px;}
#fin > span {margin-inline-start: 6px;display: inline-block;}
.btnup {padding: 2px;min-height: 27px;padding-block-start: 4px;}
.up {padding-inline: 2px;}
.tt {display: flex;font-size: 1.3rem;align-items: center;}

#check {width: 27px;height: 27px;}
.in1 {color: var(--dg1);font-size: 1.5rem;border-left: 3px solid #27ae60;padding-left: 10px;}
.rem1 {color: #616363;font-size: 1.1rem;padding-left: 13px;border-left: 2px solid #5d5d5d;}
.totop {position: sticky;right: 0px;bottom: 90px;display: block;text-align: right;}
#tta {background-color: #2ecc71;width: max-content;height: max-content;padding: 4px;padding-inline-end: 6px;border-radius: 8px;text-align: left;}
#tta svg {margin-block-end: -10px;}
footer {max-width: 100%;padding: 1px;margin: 32px auto 40px auto;border-radius: 6px;text-align: center;}

[data-theme="dark"] {
  .nd {background-color: #61616152;transition: var(--anim);border: 2px solid hsla(0, 0%, 68%, 0.224);}
  .n a, .prp, .sb li, footer, h3, p, .lb, .text, li, code, td, summary, .ref, #sel, #sel-ii, .costa, .currency-switch-container, ul b {color: var(--l) !important;transition: var(--anim2) }
  button {box-shadow: -2px 2px 4px #9b9b9b33;border: 1px solid #dedede39;background: #0000002a;}
  a:focus-visible,button:focus-visible, select:focus-visible, .copy:focus-visible {outline: 2px solid var(--dg);outline-offset: 3px;}
  .prs {fill: var(--dg);margin: 2px 0px 0px 4px;}
  .prj {background-color: #191919;color: var(--l);border: 3px solid #d9d9d933;transition: var(--anim);}
  .sbb {background-color: #1919192e;color: var(--l);border: 3px solid #d9d9d933;}
  .uls {transition: var(--uls);}
  .sb {border: 3px solid #90909039;}
  .sbs, .btnup g > path {fill: var(--l);}
  .ful {background-color: hsl(0, 0%, 2%);border: 1px solid hsla(0,0%,95%,.174);box-shadow: -5px 6px 8px hsla(0,0%,95%,.098);transition: var(--anim)}
  h1, h2 {background-image: var(--grad);transition: var(--bi);}
  table {border: 2px solid var(--dg);}
  td {border: 1px solid var(--l);}
  .final-cost {background-color: hsl(0, 0%, 4%);border: 1px solid #f2f2f22c;}
  .btc, #ema, .btcwal, .copy, .btnup, select {background-color: hsl(0, 0%, 6%);color: var(--l);border: 1px solid #444;}
  .in1, .ca, .ba2, .bsp, .free{color: var(--dg);}
  .rem1 {color: #b3b3b3;border-left: 2px solid #b3b3b3;}
  #fin {color: var(--d);}
}

@media screen and (max-width: 939px) {.btnup{bottom: 5px;}}
@media screen and (max-width: 809px) {.btnup{bottom: 5px;}}
@media screen and (max-width: 814px) {.na2 {display:none} .li2 {display: list-item}}

@media screen and (max-width: 544px) {
  .c{width: 90%;margin-inline: auto;}
  .h1 {font-size: 36px;}
  h2 {width: 100%;font-size: 27px;} .bread {width: max-content;margin-inline: auto;} .p2 {text-align: center;} .ful li {display: block;} .ful {background: transparent;border: none;box-shadow: none;padding: 0px;padding-inline-start: 8px;}
.at {background-color: #ffffff;border: 1px solid #f7f7f739;border-radius: 16px;box-shadow: -5px 6px 8px #33333370;margin-block-end:16px;margin-inline:auto;padding: 12px;list-style-type: none;}
[data-theme="dark"] {.at {background-color: hsl(0, 0%, 2%);border: 1px solid #f2f2f22c;box-shadow: -5px 6px 8px hsla(0,0%,95%,.098);transition: var(--anim)} .ful {background: transparent;border: none;box-shadow: none;}}
.bread a{font-size: 17px;} .na2, .na1 {display: none;} .li1 {display: list-item} #md {width: 99%;} .after, section, .sect {margin-inline-start: 0px;} .sect, .table {width: initial;} .btc {width: 100%;} .btcwal {width: 97%;} #ct {width: 99%;}}

@media screen and (max-width: 321px) { .sbs {margin-inline: 16px 20px;} .n {margin-inline-start: 20px;}}
@media (prefers-reduced-motion: reduce) {:root {--anim: none;--anim2: none;--uls: none;}}
  