:root {
  scroll-behavior: smooth;
  scroll-padding-block: 200px 150px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  --bl: hsl(0, 0%, 99%);
  --bd: hsl(0, 0%, 3%);
  --l:hsl(0, 0%, 100%);
  --d: hsl(0, 0%, 1%);
  --dg: oklch(59.175% 0.20134 142.511);
  --al: hsl(186, 100%, 99%);
  --ad: hsl(0, 0%, 5%);
  --hb: oklch(59.667% 0.22126 258.047);
  --b1: oklch(56.239% 0.24047 264.42);
  --tb: oklch(37.001% 0.1717 262.218);
  --anim: background-color 0.2s ease-in-out 0.1s;
  --anim2: color 0.2s ease-in-out 0.1s;
  --uls: opacity 0.2s ease-out, transform 0.2s ease-out, visibility 0.3s ease-out;
  --transition-duration: 0.8s;
  --transition-easing: cubic-bezier(0.4, 0, 0.2, 1);
}

* {box-sizing: border-box !important;}
.b {max-width: 1500px;min-height: max-content;margin-block: 12px;font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;margin-inline: auto;}
.bl {background-color:var(--bl);transition: var(--anim)}
.bd {background-color:var(--bd);transition: var(--anim)}

.c {position: relative;margin-inline: auto;max-width: 1000px;width: 93%;}
.nd {display: flex;position: fixed;top: 12px;left: 50%;transform: translateX(-50%);align-items: center;padding-inline: 22px;
 width: 99%;z-index: -3;border-radius: 16px;margin-inline: auto;font-family: "poppins", sans-serif;justify-content: space-between;
 max-width: 1230px;letter-spacing: 0.1mm;min-height: 60px;}
.n {display: flex;align-items: center;padding: 0px;height: 57px;gap: 28px;margin-inline-start: 24px;position: relative;z-index: -4;}
.pd2 {display: flex;}
.pd2:hover{cursor: pointer;}

.n a:not(.n > a) {font-weight: 600;display: flex;height: 50px;align-items: center;display: flex;}
.prp {font-weight: 500;font-size: 16px;align-items: center;display: flex;}
button {border: 1px solid #33333321;box-shadow: -2px 2px 4px #33333399;background: #ffffff76;border-radius: 6px;padding: 6px;min-height: 45px;align-content: center;}
button:hover {cursor: pointer}
#sb-btn {min-height: 43px;margin-inline: 24px 0px;padding-block-end: 1px;}
.sbs:active, a:active,button:active {transform: scale(0.94);}
a:focus-visible, #sbi:focus-visible {outline: 2px solid var(--b1);outline-offset: 3px;border-radius: 4px;}
a:focus-visible {font-size: 19px;transition: font-size 0.4s ease-out;cursor: pointer;border-radius: 4px;outline: 2px solid var(--b1);outline-offset: 3px;}
.prs {fill: var(--b1);margin: 2px 0px 0px 4px;}
.prj {visibility: hidden;opacity: 0;transform: translateY(-10px);color: var(--d);position: absolute;top: 48px;left: -16px;transition: var(--uls);list-style-type: none;}
.uls {visibility: visible;font-weight: 600;opacity: 1;transform: translateY(0);transition: var(--uls);background: #ffffff;border: 2px solid #63636333;border-radius: 12px;padding: 8px;width: max-content;}
a {text-decoration: none;display: inline-block;letter-spacing: 0.02rem;font-size: 1rem;color: inherit;align-items: center;font-weight: 600;}
.ld {display: flex;align-items: center;}

.sbs {width: 30px;height: 30px;fill: var(--d);margin: 0px;}
.sb {height: 100vh;max-width: max-content;min-width: 60%;opacity: 0;position: fixed;right: 0;top: 20px;transform: translateX(100%);visibility: hidden;z-index: 5}
.sb,.sbb {transition: var(--uls)}
.sbb {visibility: visible;opacity: 1; transform: translateX(0);background-color: #ffffff4f;transition: var(--uls);border-radius: 12px;-webkit-backdrop-filter: blur(8px);backdrop-filter: blur(8px);border: 3px solid #63636333;}
.sbc {margin-block-start:60px}
.sb li {font-size: 21px;font-weight: 600;padding-block:14px}
.sb ul {margin-block-start:13px;padding-inline:32px 16px}
.bread {z-index: -5;}
.bread a {font-size: 19px;padding-inline-end: 4px;z-index: -6;}
.bsp {font-size: 16px;position: absolute;color: #013ac5;}
.ba2 {padding-inline-start: 17px;}
.ca, .ba2 {color: #013ac5;}
.h1 {font-size: clamp(28px, 10vw + 1rem, 40px);margin: 12px auto;height: max-content;max-width: 465px;text-align: center;color: #013ac5;}

.main {margin: 88px 0px 32px 4px;}
.sbf {min-width: 90%;width: 90%;margin-inline: auto;align-self: flex-end;display: flex;border-radius: 12px;flex: 1;gap: 16px;}
#sbi {flex: 1;border-radius: 8px;min-height: 28px;max-height: 150px;width: 100%;overflow: hidden;resize: none;color: var(--d);border: 2px solid #00000039;background-color: hsl(0, 0%, 100%);padding: 8px;align-content: center;margin-inline-start: 4px;}

#sub {background-color: #fff;height: 51px;align-self: flex-end;margin-block-end: 4px;color: var(--d);}

.result {width: 90%;margin: 24px auto 40px auto;max-height: max-content;min-height: 500px;padding-block:8px 23px;border-radius: 12px;background-color: var(--bl);border: 2px solid #00000039;color: hsl(0, 0%, 5%);z-index: 5;}
.big-text {font-size: 28px;display: flex;justify-content: center;padding: 32px;color: hsl(0, 0%, 5%);}
#ct {margin: 64px auto 0px auto;max-width: 700px;}
#ct p {max-width: max-content;margin-inline: auto;justify-content: center;text-align: center;}
#ema {width: 176px;min-height: 45px;padding:6px;margin: 1px;display: inline-flex;justify-content: center;border-radius: 8px;font-size: 16px;border: 1px solid #d9d9d9;}
#ema:hover {cursor: copy;}
.copy {width: 55px;background-color: white;display: inline-block;margin: 3px;min-height: 40px;font-size: 17px;color: var(--d);}
footer {max-width: 100%;padding: 1px;margin: 32px auto 40px auto;border-radius: 6px;text-align: center;}

[data-theme="dark"] {
  .n a, .prp, .sb li, footer, #sub, #ct p, .result, .copy{color: var(--l);transition: var(--anim2)}
  button {box-shadow: -2px 2px 4px #9b9b9b33;border: 1px solid #dedede39;background: #0000002a;}
  a:focus-visible,button:focus-visible, #sbi:focus-visible {outline: 2px solid var(--dg);outline-offset: 3px;}
  .prs {fill: var(--dg);margin: 2px 0px 0px 4px;}
  .uls {transition: var(--uls);}
  .sbb {background-color: #19191935;color: var(--l);border: 3px solid #d9d9d933;}  .uls {transition: var(--uls);}
  .sbs {fill: var(--l);}
  .bsp {color: var(--dg);}
  .p1 {color: var(--l);}
  #ema, .copy {background-color: hsl(0, 0%, 6%);color: var(--l);border: 1px solid #444;}
  .h1 {color: var(--dg);}
  .ca, .ba2 {color: #00a200;}
  #sbi {border: 2px solid hsla(0, 0%, 90%, 0.25);background-color: hsl(0, 0%, 4%);color: var(--l);}
  #sub {background-color: hsl(0, 0%, 4%);border: 2px solid hsla(0, 0%, 90%, 0.25);box-shadow: none;}
  .result {background-color: var(--bd);transition: var(--anim);border: 2px solid #e6e6e640;color: hsl(0, 0%, 95%);}
  .big-text{color: hsl(0, 0%, 95%);}
}

@media screen and (max-width: 544px) { .bread a{font-size: 17px;} #sbi {padding-block-start: 0px;} .p1{margin-block: 12px 12px;} #ct {width: 280px;}}
@media screen and (max-width: 321px) { .sbs {margin-inline: 16px 20px;} .n {margin-inline-start: 20px;}}
@media (prefers-reduced-motion: reduce) {:root {--anim: none;--anim2: none;--uls: none;}}