:root {
  scroll-behavior: smooth;
  scroll-padding-block: 200px 150px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  --bl: hsl(0, 0%, 99%);
  --bd: hsl(0, 0%, 3%);
  --l:hsl(0, 0%, 100%);
  --d: hsl(0, 0%, 1%);
  --dg: oklch(59.175% 0.20134 142.511);
  --al: hsl(186, 100%, 99%);
  --ad: hsl(0, 0%, 5%);
  --hb: oklch(59.667% 0.22126 258.047);
  --b1: oklch(56.239% 0.24047 264.42);
  --tb: oklch(37.001% 0.1717 262.218);
  --anim: background-color 0.2s ease-in-out 0.1s;
  --anim2: color 0.2s ease-in-out 0.1s;
  --bi: background-image 0.2s ease-in-out 0.1s;
  --uls: opacity 0.2s ease-out, transform 0.2s ease-out, visibility 0.3s ease-out;
  --gra: linear-gradient(to right, #00880b 30%, var(--tb) 42%);
  --grad: linear-gradient(to right, var(--hb) 20%, #009c41  40%);
  --transition-duration: 0.8s;
  --transition-easing: cubic-bezier(0.4, 0, 0.2, 1);
}

* {box-sizing: border-box !important;}
.b {max-width: 1500px;min-height: max-content;margin-block: 12px;font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;margin-inline: auto;}
.bl {background-color:var(--bl);transition: var(--anim)}
.bd {background-color:var(--bd);transition: var(--anim)}

.c {position: relative;margin-inline: auto;width: 93%;}
.nd {display: flex;-webkit-backdrop-filter: blur(5px);backdrop-filter: blur(5px);
 background: #ffffff5d;width: 99%;z-index: 10;border-radius: 16px;margin-inline: auto;font-family: "poppins", sans-serif;justify-content: space-between;
 max-width: 1230px;border: 2px solid #bababa33;letter-spacing: 0.1mm;min-height: 60px;position: fixed;top: 14px;left: 50%;transform: translateX(-50%);}
.n {display: flex;align-items: center;padding: 0px;height: 57px;gap: 28px;margin-inline-start: 24px;position: relative;}
.pd2 {display: flex;}
.n a:not(.n > a) {font-weight: 600;display: flex;height: 50px;align-content: center;}
.prp {font-weight: 500;font-size: 16px;display: flex;align-self: center;color: var(--d);}
button {border: 1px solid #33333321;box-shadow: -2px 2px 4px #33333399;background: #ffffff76;border-radius: 6px;padding: 6px;min-height: 45px;align-content: center;}
button:hover, .pd2:hover{cursor: pointer}
#sb-btn {min-height: 43px;margin-inline: 24px 22px;padding-block-end: 1px;}
.sbs:active, a:active, button:active {transform: scale(0.94);}
button:focus-visible {outline: 2px solid var(--b1);outline-offset: 3px;border-radius: 4px;}
a:focus-visible {font-size: 19px;transition: font-size .2s ease-out;outline: 2px solid var(--b1);outline-offset: 3px;border-radius: 4px;}
.prs {fill: var(--b1);margin: 2px 0px 0px 4px;}
.prj {visibility: hidden;opacity: 0;transform: translateY(-10px);color: var(--d);position: absolute;top: 48px;left: -16px;transition: var(--uls);list-style-type: none;}
.uls {visibility: visible;font-weight: 600;opacity: 1;transform: translateY(0);transition: var(--uls);background: #ffffff;border: 2px solid #63636333;border-radius: 12px;padding: 8px;width: max-content;}
a {text-decoration: none;display: inline-block;letter-spacing: 0.02rem;font-size: 1rem;color: inherit;align-items: center;font-weight: 600;}
.ld {display: flex;align-items: center;}
.lb {display: flex;align-items: center;font-size: 16px;font-weight: 500;color: var(--d)}
ul {padding-inline-start: 20px;}


.sbs {width: 30px;height: 30px;fill: var(--d);margin: 0px;}
.sb {visibility: hidden;z-index: 1;max-width: max-content;min-width: 60%;height: 100vh;position: fixed;top: 80px;right: 21px;opacity: 0;transform: translateX(100%);transition: var(--uls);}
.sbb {visibility: visible;opacity: 1; transform: translateX(0);background-color: rgba(255, 255, 255, 0.667);transition: var(--uls);border-radius: 12px;-webkit-backdrop-filter: blur(4.5px);backdrop-filter: blur(4.5px);border: 3px solid #63636333;}
.sbc {margin-block-start: 20px;}
.sb li {font-weight: 600;padding-block: 14px;font-size: 21px;}
.li1, .li2 {display: none;}
.sb ul {padding-inline: 32px 16px;margin-block-start: 13px;}

.bread {margin: 15px 0px 16px 24px;margin-block-start:90px}
.bread a {font-size: 19px;padding-inline-end: 4px;}
.bsp {font-size: 16px;position: absolute;color: #013ac5;}
.ba2 {padding-inline-start: 17px;}
.ca, .ba2 {color: #013ac5;}
h1 {font-size: clamp(32px, 10vw + 1rem, 40px);margin: 32px auto;-webkit-background-clip: text;background-clip: text;height: max-content;
 background-image: var(--gra);color: transparent;max-width: 465px;text-align: center;}
.p1 {text-align: center;}
h2 {height: max-content;width: 100%;margin: 48px 0px 24px 4px;color: transparent;-webkit-background-clip: text;background-clip: text;background-image: var(--gra);font-size:32px;text-align: center;}
h3 {margin-block: 0px 6px;}
#md {width: 90%;margin-inline: auto;z-index: -1;}
.after, .text {margin-inline-start: 16px;}
.textii {margin-inline-start: 16px;}
p, li {margin-block-end: 2px;font-size: 17px;letter-spacing: 0.02rem;}
li {margin-block-start: 2px;color: var(--d);}
#ct {margin: 64px auto 0px auto;max-width: 700px;}
#ct p {max-width: max-content;margin-inline: auto;justify-content: center;text-align: center;}
#ema {width: 176px;min-height: 45px;padding:6px;margin: 1px;display: inline-flex;justify-content: center;border-radius: 8px;font-size: 16px;}
.copy {width: 55px;background-color: white;display: inline-block;margin: 3px;min-height: 40px;font-size: 17px;color: var(--d);}
footer {max-width: 100%;padding: 1px;margin: 32px auto 40px auto;border-radius: 6px;text-align: center;}

[data-theme="dark"] {
  .nd {background-color: #61616152;transition: var(--anim);border: 2px solid hsla(0, 0%, 68%, 0.224);}
  .n a, .prp, .sb li, footer, h3, p, .lb, .text, .copy, li{color: var(--l);transition: var(--anim2)}
  button {box-shadow: -2px 2px 4px #9b9b9b33;border: 1px solid #dedede39;background: #0000002a;}
  a:focus-visible,button:focus-visible {outline: 2px solid var(--dg);outline-offset: 3px;}
  .prs {fill: var(--dg);margin: 2px 0px 0px 4px;}
  .prj {background-color: #191919;color: var(--l);border: 3px solid #d9d9d933;transition: var(--anim);}
  .sbb {background-color: #19191935;color: var(--l);border: 3px solid #d9d9d933;}  .uls {transition: var(--uls);}
  .sb {border: 3px solid #90909039;}
  .sbs {fill: var(--l);}
  h1, h2 {background-image: var(--grad);transition: var(--bi);}
  .bsp {color: var(--dg);}
  #ema, .copy {background-color: hsl(0, 0%, 6%);color: var(--l);}
  .ca, .ba2 {color: #00a200;}
}

@media screen and (max-width: 814px) {.na2 {display:none} .li2 {display: list-item}}
@media screen and (max-width: 544px) { .c {width: 90%;margin-inline: auto;}.h1 {font-size: 36px;} h2 {width: 100%;font-size: 27px;} .bread {width: max-content;margin-inline: auto;} 
.bread a{font-size: 17px;} .na2, .na1 {display: none;} .na1 {display:none} .li1 {display: list-item} #md {width: 96%;} .text, .after {margin-inline-start: 0px;} #ct {width: 280px;}}
@media screen and (max-width: 321px) { .sbs {margin-inline: 16px 20px;} .n {margin-inline-start: 20px;}}
@media (prefers-reduced-motion: reduce) {:root {--anim: none;--anim2: none;--uls: none;}}
