:root {
  scroll-behavior: smooth;
  scroll-padding-block: 200px 150px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  --bl: hsl(0, 0%, 99%);
  --bd: hsl(0, 0%, 3%);
  --l:hsl(0, 0%, 100%);
  --d: hsl(0, 0%, 1%);
  --dg: oklch(59.175% 0.20134 142.511);
  --al: hsl(186, 100%, 99%);
  --ad: hsl(0, 0%, 5%);
  --hb: oklch(59.667% 0.22126 258.047);
  --b1: oklch(56.239% 0.24047 264.42);
  --tb: oklch(37.001% 0.1717 262.218);
  --anim: background-color 0.2s ease-in-out 0.1s;
  --anim2: color 0.2s ease-in-out 0.1s;
  --bi: background-image 0.2s ease-in-out 0.1s;
  --uls: opacity 0.2s ease-out, transform 0.2s ease-out, visibility 0.3s ease-out;
  --gra: linear-gradient(to right, #00880b 30%, var(--tb) 42%);
  --grad: linear-gradient(to right, var(--hb) 20%, #009c41  40%);
  --transition-duration: 0.8s;
  --transition-easing: cubic-bezier(0.4, 0, 0.2, 1);
}

* {box-sizing: border-box !important;}
* { cursor: none !important;-webkit-user-select: none;user-select: none;}
.b {max-width: 1500px;min-height: max-content;margin-block: 12px;font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;margin-inline: auto;}
.bl {background-color:var(--bl);transition: var(--anim)}
.bd {background-color:var(--bd);transition: var(--anim)}

.c {position: relative;margin-inline: auto;max-width: 1000px;width: 93%;}
.nd {display: flex;position: fixed;top: 14px;left: 50%;transform: translateX(-50%);-webkit-backdrop-filter: blur(5px);backdrop-filter: blur(5px);
 background: #ffffff50;width: 99%;z-index: 20;border-radius: 16px;margin-inline: auto;font-family: "poppins", sans-serif;justify-content: space-between;
 max-width: 1230px;border: 2px solid #bababa33;letter-spacing: 0.1mm;min-height: 60px;}
.n {display: flex;align-items: center;padding: 0px;height: 57px;gap: 28px;margin-inline-start: 24px;position: relative;}
.pd2 {display: flex;}
.n a:not(.n > a) {font-weight: 600;display: flex;height: 50px;align-content: center;}
.ld {display: flex;align-items: center;}
.lb {display: flex;align-items: center;font-size: 16px;font-weight: 500;color: var(--d)}
.prp {font-weight: 500;font-size: 16px;display: flex;align-self: center;color: var(--d);}
button {border: 1px solid #33333321;box-shadow: -2px 2px 4px #33333399;background: #ffffff76;border-radius: 6px;padding: 6px;align-content: center;min-height: 45px;}
button:hover, .copy:hover {cursor: pointer}
#sb-btn {min-height: 43px;margin-inline: 24px 22px;padding-block-end: 1px;}
.sbs:active, a:active,button:active {transform: scale(0.94);}
button:focus-visible {outline: 2px solid var(--b1);outline-offset: 3px;border-radius: 4px;}
a:focus-visible {font-size: 19px;transition: font-size .2s ease-out;outline: 2px solid var(--b1);outline-offset: 3px;border-radius: 4px;}
.prs {fill: var(--b1);margin: 2px 0px 0px 4px;}
.prj {visibility: hidden;opacity: 0;transform: translateY(-10px);color: var(--d);position: absolute;top: 48px;left: -16px;transition: var(--uls);list-style-type: none;}
.uls {visibility: visible;font-weight: 600;opacity: 1;transform: translateY(0);transition: var(--uls);background: #ffffff;border: 2px solid #63636333;border-radius: 12px;padding: 8px;width: max-content;}
a {text-decoration: none;display: inline-block;letter-spacing: 0.02rem;font-size: 1rem;color: inherit;align-items: center;font-weight: 600;}

.sbs {width: 30px;height: 30px;fill: var(--d);margin: 0px;}
.sb {height: 100vh;max-width: max-content;min-width: 60%;opacity: 0;position: fixed;right: 0;top: 20px;transform: translateX(100%);visibility: hidden;z-index: 5}
.sb,.sbb {transition: var(--uls)}
.sbb {visibility: visible;opacity: 1; transform: translateX(0);background-color: #ffffff4f;transition: var(--uls);border-radius: 12px;-webkit-backdrop-filter: blur(8px);backdrop-filter: blur(8px);border: 3px solid #63636333;}
.sbc {margin-block-start:60px}
.sb li {font-size: 21px;font-weight: 600;padding-block:14px}
.sb ul {margin-block-start:13px;padding-inline:32px 16px}
.li1, .na1 {display: none;}

.bread {margin: 90px auto 16px auto; width: max-content;position: relative;}
.bread a {font-size: 19px;padding-inline-end: 4px;}
.bsp {font-size: 28px;position: absolute;color:#013ac5;bottom: -3px;}
.ba2 {padding-inline-start: 21px;}
.ca, .ba2 {color: #013ac5;}

.h1 {font-size: clamp(32px, 10vw + 1rem, 40px);margin: -2px auto 0px auto;-webkit-background-clip: text;background-clip: text;height: max-content;
 background-image: var(--gra);color: transparent;max-width: 400px;text-align: center;}
.p1 {max-width: 600px;margin-inline: auto;margin-block: 32px 48px;font-size: 21px;text-align: center;line-height: 1.35;letter-spacing: 0.4px;color: var(--ad);padding: 24px 8px;width: 90%;}
.p2 {margin-inline-start: 4px;}
h2 {height: max-content;width: 100%;margin: 32px 0px 10px 4px;color: transparent;-webkit-background-clip: text;background-clip: text;background-image: var(--gra);font-size:32px;}
.h22 {text-align: center;}
h3 {margin-block: 0px 6px;}
.at {margin-block-end: 24px;background-color: #ffffff;padding: 8px;border-radius: 8px;box-shadow: -5px 6px 8px #33333370;margin-inline: auto;border: 1px solid #f7f7f739;}/* content-visibility: auto; */
.atis {height: 20px;}
article p {color: var(--ad);line-height: 1.3;margin-block-end: 8px;}
.p {margin-block-end: 0px;}
#ct {margin: 16px auto 0px auto;max-width: 720px;}
#ct p {max-width: max-content;margin-inline: auto;justify-content: center;text-align: center;}
#ema {width: 176px;min-height: 45px;padding:6px;margin: 1px;display: inline-flex;justify-content: center;border-radius: 8px;font-size: 16px;border: 1px solid #d9d9d9;}
.copy {width: 55px;background-color: white;display: inline-block;margin: 3px;min-height: 40px;font-size: 17px;color: var(--d);}
footer {max-width: 100%;padding: 1px;margin: 32px auto 40px auto;border-radius: 6px;text-align: center;}
*:hover {cursor: none !important;}

.img-con {padding: 8px;width: 100%;}
img {border-radius: 8px;width: 100%;height: max-content;}


[data-theme="dark"] {
  .nd {background-color: #61616152;transition: var(--anim);border: 2px solid hsla(0, 0%, 68%, 0.224);}
  .n a, .prp, .sb li, footer, h3, .copy, .lb{color: var(--l);transition: var(--anim2)}
  button {box-shadow: -2px 2px 4px #9b9b9b33;border: 1px solid #dedede39;background: #0000002a;}
  a:focus-visible,button:focus-visible {outline: 2px solid var(--dg);outline-offset: 3px;}
  .prs {fill: var(--dg);margin: 2px 0px 0px 4px;}
  .prj {background-color: #191919;color: var(--l);border: 3px solid #d9d9d933;transition: var(--anim);}
  .uls {transition: var(--uls);}
  .sbb {background-color: #19191935;color: var(--l);border: 3px solid #d9d9d933;}  .uls {transition: var(--uls);}
  .sbs {fill: var(--l);}
  .h1, h2 {background-image: var(--grad);transition: var(--bi);}
  .bsp {color: var(--dg);}
  .p1 {color: var(--al);}
  article p, p {color: var(--al);}
  .at {background-color: hsl(0, 0%, 2%);box-shadow: -5px 6px 8px hsla(0, 0%, 95%, 0.098);border: 1px solid hsla(0, 0%, 95%, 0.18);transition: var(--anim);}
  #ema, .copy {background-color: hsl(0, 0%, 6%);color: var(--l);border: 1px solid #d9d9d9;}
  .ca, .ba2 {color: hsl(120, 100%, 32%);}
}


@media screen and (max-width: 544px) { .h1 {font-size: 36px;} h2 {width: 100%;font-size: 27px;} .na2 {display: none;} .li1 {display: list-item;} .bread{width: max-content;margin-inline: auto;} .bread a{font-size: 17px;} .pa {font-size: 19px;}}
@media scren and (max-width: 470px) {.na1 {display: none;};}
@media screen and (max-width: 321px) { .sbs {margin-inline: 16px 20px;} .n {margin-inline-start: 20px;}}
@media (prefers-reduced-motion: reduce) {:root {--anim: none;--anim2: none;--uls: none;}}